.modal-container {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.347);
  }
  
  .modal {
    position: fixed;
    z-index: 10010;
    background-color: rgba(255, 248, 228, 1);
    border-radius: 30px;
    width: 900px;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .modal h1 {
    width: 100%;
  text-align: center;
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 40px;
  height: 100px;
  }
  
  .user-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .user-item {
    font-family: 'Inter', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .user-name {
    width: 100%;
    font-weight: bold;
  }
  
  .user-status {
    margin-right: 10px;
  }
  
  .status-toggle-button {
    font-family: 'Inter', serif;
    padding: 5px 10px;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .status-toggle-button:hover {
    background-color: #bdff6a;
    color: rgba(0, 0, 0, 1);
    border: 1px solid;
    font-family: 'Inter', serif;
  }
  
  
  .close-button:hover {
    font-family: 'Inter', serif;
    color: rgba(0, 0, 0, 1);
    background-color: #bdff6a;
    border: 1px solid;
  }