.modal-container {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.347);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  z-index: 10010;
  background-color: rgba(255, 248, 228, 1);
  border-radius: 30px;
  width: 900px;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.inputs{
  align-items: center;
  width: 100%;
  margin-top: 70px;
  flex-direction: column;
  display: flex;
  gap: 15px;
}

input[typy="file"]{
  display: none;
}

input{
  font-size: 20px;
  border-radius: 10px;
  height: 50px;
  border: none;
  width: 350px;
}

p{
  width: 100%;
  text-align: center;
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 24px;
  
}

h1{
  width: 100%;
  text-align: center;
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 40px;
  height: 100px;
}



.buttons{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"]{
  display: none;
}

label{
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  border: 3px solid;
  background: rgba(255, 248, 228, 1);
  font-size: 25px;
  border-radius: 10px;
  height: 50px;
  width: 350px;
}





.accept_pdf_button{

  color: white;
  background-color: rgba(0, 0, 0, 1);
  font-size: 20px;
  border-radius: 10px;
  height: 50px;
  border: none;
  width: 350px;
}

